* {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

#root {
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgb(171, 225, 22);
  height: 76vh;

  border-radius: .4rem;

  padding: 1rem;

  margin: 2rem;
}
body{
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);
  overflow: hidden;
}

.header {
  display: flex;
  padding: .5rem;
  align-items: top;
  height: 7rem;
  background-size: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.699);
  background-image: url(./src/assets/agabbackdrop.jpg);
  padding-inline: 1rem;
}
.backdrop {
  position: absolute;
}
.logo {
  height: 5rem;
  cursor: pointer;

}
.logo:hover {
  background-color: rgba(245, 245, 245, 0.178);
  border-radius: 1rem;
}
.buttonPos{
  position: relative;
  left: 40px;
  top: 40px;
}
.grid{
  color: #1409f0;
}